h1 {
  text-color: pink;
}

* {
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.nonleaf .subelements ul {
  padding-left: 1em;
}

.nonleaf.expanded-false .subelements {
  display: none;
}

.nonleaf.expanded-true > svg {
  transform: rotate(90deg);
}

.placeholder, .nonleaf svg {
  width: 1em;
  height: 1em;
  transition: 0.1s ease-in-out;
  display: inline-block;
}
